<h4>投稿数の前日比・前週比</h4>
<div class = "table_width">
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>今日の投稿数</th>
        <th>前日の投稿数</th>
        <th>前日比</th>
       </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= books.created_days_ago(0).count %></td>
        <td><%= books.created_days_ago(1).count %></td>
        <td>
          <% if books.created_days_ago(1).count == 0 %>
          前日の投稿はありません
          <% else %>
         　<% the_day_before = books.created_days_ago(0).count / books.created_days_ago(1).count %>
         　<%= (the_day_before * 100).round %>%
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
 　  <thead>
      <tr>
       <th>今週の投稿数</th>
       <th>先週の投稿数</th>
       <th>前週比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= this_week_book.count %></td>
        <td><%= last_week_book.count %></td>
        <td><% if last_week_book.count == 0 %>
              先週の投稿はありません
            <% else %>
              <% this_week_book.count / last_week_book.count * 100 %>%
            <% end %></td>
      </tr>
    </tbody>
  </table>
</div>